{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
<!-- This I changed a bit in the js to be able to include the h3 as well as the div.
	It displays the listed inbox.-->
    <div id="emails-view">
		<h3></h3>
		<div id="email-list" class="emails">
		</div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id="send" class="btn btn-primary"/>
        </form>
    </div>
	
<!-- This is the email view. When any email is clicked (inbox, archive, or sent) it opens in this view.-->
	<div id="email-view">
		Sender : <div id="email-sender"></div><br>
		Recipients : <div id="email-recipients"></div><br>
		Timestamp : <div id="email-timestamp"></div><br>
		Subject : <div id="email-subject"></div><br>
		Body : <div id="email-body"></div><br>
		<input type="submit" id="archive" value="Archive" class="btn btn-primary d-none"/>
		<input type="submit" id="unarchive" value="UnArchive" class="btn btn-primary d-none"/>
		<input type="submit" id="reply" value="Reply" class="btn btn-primary"/>
	</div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}